/* -- For Tablets -- */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
      font-size: 32px;
    }

    .top-wrapper a {
        font-size: 16px;
    }

    .btn2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container2{
        flex-direction: column;
    }

    .container2 h1 {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .container2 .box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* -- For Smartphones -- */
@media all and (max-width: 670px) {
    footer {
        text-align: center;
    }

    .btn {
        width: 100%;
    }

    .top-wrapper {
        text-align: center;
        padding-left: 0px;
    }

    .header-right {
        display: none;
    }

    span.menu-icon {
        display: block;
    }

    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    .top-wrapper a {
        font-size: 14px;
    }

    .mid-wrapper {
        text-align: center;
        padding-left: 0px;
    }

    .mid-wrapper h1 {
        text-align: center;
        font-size: 24px;
        line-height: 36px;
    }

    .mid-wrapper p {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }

    .container1 {
        width: 400px;
        padding: 0 15px;
        margin: 0px auto;
    }

    .section2 h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .section2 h3 {
        font-size: 14px;
        line-height: 20px;
    }

    .btn2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container {
        width: 400px;
        padding: 0 15px;
        margin: 0px auto;
    }

    .container2 {
        font-size: 24px;
        line-height: 36px;
        flex-direction: column;
    }

    .container2 h1 {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .container2 .box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
